@media screen and (min-width: 320px) and (max-width: 992px) {
  form#passResetForm {
    padding: 0 32px;
  }

  .MuiInputAdornment-root > img {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 992px) {
  form#passResetForm {
    width: 400px;

    margin: auto; 
  }

  .MuiInputAdornment-root > img {
    width: 28px;
    height: 28px;

    cursor: pointer;
  }
}

form#passResetForm {
  margin-bottom: 90px;
}

form#passResetForm button {
  margin-top: 20px;
}

form#passResetForm .MuiFormControl-root::after {
  content: attr(data-error);

  font-style: italic;

  color: hsl(354, 70%, 54%);
}