@media screen and (min-width: 320px) and (max-width: 992px) {
  .MuiInputAdornment-root > img {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 992px) {
  .MuiInputAdornment-root > img {
    width: 28px;
    height: 28px;

    cursor: pointer;
  }
}
