@media screen and (min-width: 320px) and (max-width: 992px) {
  div#profileInfo {
    height: 200px;
  }

  div#profileInfo > img {
    width: 64px;
    height: 64px;

    object-fit: cover;
  }

  p#personalLocations {
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  div#profileInfo {
    height: 250px;
  }

  div#profileInfo > img {
    width: 96px;
    height: 96px;

    object-fit: cover;
  }

  p#personalLocations {
    padding: 20px 0 0 75px;
  }
}

div#profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 10px;

  width: 100%;

  margin-bottom: 60px;

  background: hsl(162, 23%, 49%);
}

div#profileInfo > div {
  border-radius: 16px;

  background: hsl(203, 37%, 22%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);

  transform: translateY(50%);

  padding: 12px 24px;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

p#personalLocations {
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;

  margin-top: 60px;

  color: hsl(162, 23%, 49%);
}
