@media screen and (min-width: 320px) and (max-width: 992px) {
  div#profileInfo {
    height: 200px;
  }

  div#profileInfo > img {
    width: 64px;
    height: 64px;

    object-fit: cover;
  }

  p#personalLocations {
    text-align: center;
  }

  #locationDeletionDialog .MuiPaper-root {
    width: 350px;
    height: fit-content;
  }

  #locationDeletionDialog .MuiDialogContent-root,
  #locationDeletionDialog .MuiDialogContentText-root {
    font-weight: 400;
    line-height: 28px;
  }

  #locationDeletionDialog .MuiDialogContentText-root {
    font-size: 20px !important;
  }

  #locationDeletionDialog .MuiDialogContent-root > p:nth-child(1) {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;

    letter-spacing: 0.25px;
  }

  #resultDialog .MuiPaper-root {
    width: 350px;
    height: 170px;
  }

  #resultDialog .MuiDialogContent-root {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  div#profileInfo {
    height: 250px;
  }

  div#profileInfo > img {
    width: 96px;
    height: 96px;

    object-fit: cover;
  }

  p#personalLocations {
    padding: 20px 0 0 75px;
  }

  #locationDeletionDialog .MuiPaper-root {
    width: fit-content;
    height: 250px;
  }

  #locationDeletionDialog .MuiDialogContentText-root {
    font-weight: 400;
    font-size: 20px !important;
    line-height: 28px;
  }

  #locationDeletionDialog .MuiDialogContent-root > p:nth-child(1) {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;

    letter-spacing: 0.25px;

    margin: 15px 0 20px 0;
  }

  #resultDialog .MuiPaper-root {
    width: 360px;
    height: 170px;
  }

  #resultDialog .MuiDialogContent-root {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    text-align: center;
  }
}

#locationDeletionDialog .MuiDialogContentText-root {
  text-align: center;
}

#locationDeletionDialog .MuiDialogActions-root {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}

div#profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 10px;

  width: 100%;

  margin-bottom: 60px;

  background: hsl(162, 23%, 49%);
}

div#profileInfo > div {
  border-radius: 16px;

  background: hsl(203, 37%, 22%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);

  transform: translateY(50%);

  padding: 12px 24px;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  font-family: "Roboto";
}

p#personalLocations {
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;

  margin-top: 60px;

  color: hsl(162, 23%, 49%);
}

#locationDeletionDialog .MuiDialogActions-root > span {
  cursor: pointer;
}

#resultDialog .circular-progress {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
}
