@media screen and (min-width: 320px) and (max-width: 992px) {
  #deletionDialog .MuiPaper-root {
    width: 350px;
    height: fit-content;
  }

  #deletionDialog .MuiDialogContent-root,
  #deletionDialog .MuiDialogContentText-root {
    font-weight: 400;
    line-height: 28px;
  }

  #deletionDialog .MuiDialogContentText-root {
    font-size: 20px !important;
  }

  #deletionDialog .MuiDialogContent-root > p:nth-child(1) {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;

    letter-spacing: 0.25px;
  }
}

@media screen and (min-width: 992px) {
  #deletionDialog .MuiPaper-root {
    width: fit-content;
    height: 250px;
  }

  #deletionDialog .MuiDialogContentText-root {
    font-weight: 400;
    font-size: 20px !important;
    line-height: 28px;
  }

  #deletionDialog .MuiDialogContent-root > p:nth-child(1) {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;

    letter-spacing: 0.25px;

    margin: 15px 0 20px 0;
  }
}

#deletionDialog .MuiDialogContentText-root {
  text-align: center;
}

#deletionDialog .MuiDialogActions-root {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}

#deletionDialog .MuiDialogActions-root > span {
  cursor: pointer;
}
