#resultDialog .MuiPaper-root {
  width: 360px;
  height: 170px;
}

#resultDialog .MuiDialogContent-root {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  text-align: center;
}

#resultDialog .circular-progress {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
}
