@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@media screen and (min-width: 320px) and (max-width: 992px) {
  p#notFound > span {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  p#notFound > img {
    width: 128px;
    height: 128px;
  }
}

@media screen and (min-width: 992px) {
  p#notFound > span {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
  }

  p#notFound > img {
    width: 256px;
    height: 256px;
  }
}

p#notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

p#notFound > button {
  margin-top: 20px;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-self-center {
  align-self: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-grow-1 {
  flex-grow: 1;
}

.width-100 {
  width: 100%;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.text-center {
  text-align: center;
}

.text-warn {
  color: hsl(45, 100%, 51%);

  font-style: italic;
}
